FINNEGANS_CLIENT_ID=tu_client_id
FINNEGANS_CLIENT_SECRET=tu_client_secret
FINNEGANS_OAUTH_URL=https://api.teamplace.finneg.com/api/oauth/token
FINNEGANS_REPORT_URL=https://api.finneg.com/api/reports/AnalisisRemitosAlgodonDuhau
FINNEGANS_SISA_URL=https://api.finneg.com/api/reports/ControlSisaDuhau
